{% extends 'base.html' %}

{% block title %}Performer Profile{% endblock %}

{% block content %}
<div id="customer_or_performer">
    {% if section == 'performer' %}
    <span id="selected">
    {% else %}
    <span>
    {% endif %}
    <a href="{% url 'profile:performer_profile'%}">Performer</a></span>
    <span><a href="{% url 'profile:customer_profile'%}">Customer</a></span>
</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
{% if message %}
        <div class="alert alert-success">
            {{ message }}
        </div>
{% endif %}
{% endblock %}